---
layout: default
#title: Анонимные Алкоголики Нижний Новгород
aa_ru: Анонимные Алкоголики
aa_nn_ru: Анонимные Алкоголики Нижний Новгород
aa_nn_email_ru: aannovru@gmail.com
aa_nn_phone_ru: "+79601979248"
aa_motto_ru: Выздоровление Единство Служение
aa_12_steps_ru: 12 Шагов
menu_home_ru: Главная
menu_solution_ru: 12 Шагов
menu_community_ru: Как нас найти
menu_stories_ru: Наши истории
menu_links_ru: Ссылки
menu_news_ru: Новости
private:
---

{% assign posts_in_category = site.categories.solution %}
{% assign category = 'solution' %}
{% assign category_ru = page.menu_solution_ru %}

<div id="home">
  <!--
  {% comment %}
  {% include show_posts_in_category.html %}
  {% endcomment %}
  -->
  {% include show_category_name.html %}
  
  {% assign tag = 'Новичку' %}
  {% include show_section_name.html %}
  {% include find_by_category_and_tag.html %}

  {% assign tag = 'Молитвы' %}
  {% include show_section_name.html %}
  {% include find_by_category_and_tag.html %}

  {% assign tag = 'метка1' %}
  {% include show_section_name.html %}
  {% include find_by_category_and_tag.html %}
</div>
<!-- vim: set sts=2 sw=2 et: --> 
