{% if show_breadcrumbs == 'true' category_ru and category and tag %}
  {% include show_category_and_tag_name.html %}  
{% endif %}  

<ul class="posts">
  {% for post in site.posts %}
    {% if post.categories contains category  and post.tags contains tag %} 
      <li>
        {% unless show_date == false %}
          <span>{{ post.date | date:"%d.%m.%Y" }}</span>
        {% endunless %} 
        &raquo;
        <a href="{{ post.url }}">{{ post.title }}</a>
        <br />

        {% if my_truncatewords == 'true' %}
          {{ post.content | strip_html | truncatewords: 35 }}        
          <br />
          <a href="{{ post.url }}/">Весь текст ...</a>)
        {% endif %}

        {% if post.author and show_author == 'true' %}
            <span>автор: {{ post.author }}</span>
        {% endif %}    
      </li>
    {% endif %}    
  {% endfor %}
</ul>
<!-- vim: set sts=2 sw=2 et: --> 
